body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
    border: 1px solid black;
    text-align: center;
    line-height: 75px;
  }
  
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: 'Roboto Slab', serif;
  }

.board {
  margin: auto;
}

  .boxA, .boxB, .boxC, .boxD, .boxE, .boxF, .boxG, .boxH, .boxI {
    border: 1px solid black;
    font-size: 56px;
    margin: 0;
    display: block;
    width: minmax(50px, 100%);
    height: minmax(50px, 100%);
  }

  @media only screen and (min-width: 480px) and (max-width: 768px){
    .board {
      height: 1065px;
      display: grid;
      grid-template-columns: 50%;
      grid-template-rows: 1/7;
      grid-auto-flow: row;
    }
    .boxA {
      background-color: red;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .boxB {
      background-color: orange;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .boxC, .boxD {
      background-color: yellow;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
    }
    .boxD {
      background-color: green;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4;
    }
    .boxE, .boxF, .boxG, .boxH {
      background-color: blue;
    }
    .boxE {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 5;
    }
    .boxF {
      background-color: purple;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 5;
    }
    .boxG {
      background-color: violet;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 6;
    }
    .boxH {
      background-color: grey;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 6;
    }
    .boxI {
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 7;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1100px){
    .board {
      height: 720px; 
      display: grid;
      grid-template-columns: 20%;
      grid-template-rows: 25%;
      grid-auto-flow: row;
    }
    .boxA {
      
      background-color: grey;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .boxB {
      
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 5;
    }
    .boxC, .boxD {
      
      background-color: purple;
    }
    .boxC {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 5;
    }
    .boxD {
      background-color: violet;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 5;
    }
    .boxE, .boxF, .boxG, .boxH {
      
      background-color: green;
    }
    .boxE {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .boxF {
      background-color: blue;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .boxG {
      background-color: orange;
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .boxH {
      background-color: yellow;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    .boxI {
      
      background-color: rebeccapurple;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  @media only screen and (min-width: 1100px){
    .board {
      height: 720px; 
      display: grid;
      grid-template-columns: 20%;
      grid-template-rows: 25%;
      grid-auto-flow: row;
    }
    .boxA {
      
      background-color: white;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .boxB {
      
      background-color: grey;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 5;
    }
    .boxC, .boxD {
      
      background-color: violet;
    }
    .boxC {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .boxD {
      background-color: purple;
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .boxE, .boxF, .boxG, .boxH {
      
      background-color: blue;
    }
    .boxE {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
    }
    .boxF {
      background-color: green;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 3;
    }
    .boxG {
      background-color: yellow;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
    }
    .boxH {
      background-color: orange;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 3;
    }
    .boxI {
      
      background-color: red;
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 4;
    }
  }